 @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
        
        #webPage {
            width:80%
            max-width: 960px;
            margin: 0 auto;
            background-color: lightgoldenrodyellow;
        }
        #section1, #whitewater {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        }
        #logo {
        background-color: white;
        position: relative;
        height: 120px;
        border-style: solid;
        margin-left: 20px;
        
        }
        .fullwidth {
        width=400%;
        }
        img {
            max-width:100%;
        }
        #foot {
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            justify-content: space-between;
            background-color:#DFC476;
            
        }
        #icons {
          
        }
        #bottomRow {
            text-align: center;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: -25px;
        }
        nav {
            background-color:#DB7359;
            color: #313A75;
            font-size: 1.2em;
            line-height: 3;
            margin-top: -97px;
            padding-left: 130px;
            
        }

        nav li {
        display: inline-block;
        flex: 1 0 6eml
        }

        nav ul {
        margin: 0;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        }

       a:link {
        color: #DFC476;
        }

        a:visited {
        color: #DFC476
        }


        a:hover {
        color: #3984A7;
        }

        nav a {
        }

        .rightColumn, .leftColumn{
            width: 48%;
            flex: 1 0 15em;
            margin: .5em;
        }
        #whitewater {
            background-color:#DFC476;
        }
        section {
            padding:15px
        }
        body {
            font-family: Trebuchet, Helvetica, sans-serif;
            background: url(https://s-media-cache-ak0.pinimg.com/originals/9d/b0/a2/9db0a26477a7e995d9aa72823f092b24.jpg) no-repeat top left;
        }
        h1,h2,h3,h4,h5,h6 {
            color: #3984A7;
            font-family: "Alfa Slab One";
        }
        .darkBlue {
            color: darkblue;
        }
        p {
            line-height:1.5;
            margin-bottom: 0em
        }
        h2 {
            line-height: 1.2;
            margin-bottom: 0em
        }
        .page-wrapper { 
	       width: 80%;
            max-width: 960px;
	       margin: 0 auto; 
	       position: relative;
	   }
        

    #contact-area {
	width: 300px;
	margin-top: 25px;
    margin: 0 auto;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 300px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;

    
